spring:
  application:
    name: Eureka-server
  security:
    user:
      name: user
      password: 123

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false


server:
  port: 8761